@tailwind base;
@tailwind components;
@tailwind utilities;

.paginate {
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginate li {
    width: 10px;
    height: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}